cat > .gitignore << 'EOF'
# Ignore image folders
data/train_data/
data/test_data_v2/

# Python stuff
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Mac/IDE junk
.DS_Store
.vscode/
.idea/


*.sh

EOF
